# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    ignore:
      # Only suggest patch updates. Rest is manually controlled.
      - dependency-name: "github.com/argoproj-labs/argocd-image-updater"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/build/"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/build/util/"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/deploy/registry/"
    schedule:
      interval: "daily"

  - package-ecosystem: "docker"
    directory: "/tests/auxiliary/smtplistener/"
    schedule:
      interval: "daily"
