---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-argoproj-io-v1beta1-argocd
  failurePolicy: Fail
  name: vargocd.kb.io
  rules:
  - apiGroups:
    - argoproj.io
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - argocds
  sideEffects: None
