name: Go

on:
  push:
    branches:
      - 'master'
      - 'release-*'
      - 'rhos-*'
  pull_request:
    paths-ignore:
      - "docs/**"
    branches:
      - 'master'
      - 'release-*'
      - 'rhos-*'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24.4'

    - name: Build
      run: make build

    - name: Test
      run: make test
