name: Integration tests
on:
  pull_request:
    paths-ignore:
      - "docs/**"
    branches:
      - 'master'
      - 'release-*'
      - 'rhos-*'

jobs:
  lint_code:
    name: Run golangci-lint on PR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1.6
          args: --timeout 5m --exclude SA5011
          only-new-issues: true

